.btn-primary{
margin-top: 2%;
margin-bottom: 3%;
width: 40%;
margin-left: 25%;
}

.form-check {
  padding-left: 0%;  /* Garante que todos os checkboxes tenham a mesma margem à esquerda */
  margin-left: 0;   /* Ajuste para remover qualquer margem extra à esquerda */
}

.form-check input {
  margin-left: 0;   /* Caso haja alguma margem extra nos inputs de checkbox */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
